
.stuff1 {
	width: 10%;
    height: 10%;
	border-radius:3%;
	margin-left: 50px;
}

.stuff2{
	width: 25%;
    height: 25%;
	border-radius: 3%;
	margin-left: 50px;
}

.stuff3{
	width: 25%;
    height: 25%;
	border-radius: 3%;
	margin-left: 50px;
}

